
body{
  background: url(../images/background.jpg) no-repeat center center fixed;
	background-size: cover;
  color: white;
}
#choice-section{
  margin-top: 20px;
}
.choice{
  display: inline-block;
  border: 1px solid black;
  margin: 5px;
}
